@model UsuarioViewModel

@{
    ViewData["Title"] = "Excluir Usuário";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container border">
    <div class="row text-center" style="background-color: #F39F0B">
        <div class="col-md-12" style="margin-top: 10px;">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row text-center mt-md-5 mb-md-5">
        <div class="col">
            <h3 class="text-danger">Tem certeza que quer excluir esse Usuário permanentemente?</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr class="d-flex">
                        <th scope="col" class="col-md-3">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th scope="col" class="col-md-3">
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th scope="col" class="col-md-3">
                            @Html.DisplayNameFor(model => model.DataNascimento)
                        </th>
                        <th scope="col" class="col-md-2">
                            @Html.DisplayNameFor(model => model.Perfil)
                        </th>
                        <th scope="col" class="col-md-1 text-center">
                            Ações
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row" class="d-flex">
                        <td class="col-md-3">
                            @{var model = Model;}
                            @if (model.Email.Length > 32)
                            {
                                var email = model.Email.Substring(0, 32);
                                @Html.DisplayFor(model => email)<span>...</span>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Email)
                            }
                        </td>
                        <td class="col-md-3">
                            @if (model.Nome.Length > 32)
                            {
                                var nome = model.Nome.Substring(0, 32);
                                @Html.DisplayFor(model => nome)<span>...</span>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Nome)
                            }
                        </td>
                        <td class="col-md-3">
                            @Html.DisplayFor(model => model.DataNascimento)
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(model => model.Perfil)
                        </td>
                        <td class="col-md-1">
                            <div class="row">
                                <div class="col-md-4 text-center" style="padding: 0 20px;">
                                    <a asp-action="Details" asp-route-id="@Model.Id"><i style=" font-size: 14pt;" class="fas fa-eye" title="Ver Detalhes"></i></a>
                                </div>
                                <div class="col-md-4 text-center" style="padding: 0 20px;">
                                    <a asp-action="Index"><i style="font-size: 14pt;" class="fas fa-arrow-circle-left text-secondary" title="Voltar"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-md-5">
        <div class="col-md-12">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Excluir" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-info">Cancelar</a>
            </form>
        </div>
    </div>
</div>