@model Account
@{
    ViewData["Title"] = "Entrar";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-bt">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/fe/assets/images/logomarca-1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link href="~/fe/LoginRegister/css/style.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form asp-controller="Account" asp-action="Login" method="post" class="sign-in-form" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed" data-ajax-failure="failed">
                    <div asp-validation-summary="ModelOnly" data-valmsg-for="ModelOnly" class="text-danger"></div>
                    <h2 class="title">Entrar</h2>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input asp-for="Login.EmailLogin" id="EmailLogin" name="EmailLogin" />
                    </div>
                    <span asp-validation-for="Login.EmailLogin" data-valmsg-for="EmailLogin" class="text-danger"></span>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input asp-for="Login.SenhaLogin" id="SenhaLogin" name="SenhaLogin" />
                    </div>
                    <span asp-validation-for="Login.SenhaLogin" data-valmsg-for="SenhaLogin" class="text-danger"></span>
                    <div class="checkbox">
                        <input asp-for="Login.ManterConectado" type="checkbox" id="ManterConectado" name="ManterConectado">
                        <label for="ManterConectado" asp-for="Login.ManterConectado"></label>
                    </div>
                    <input type="submit" value="Entrar" class="btn solid" />
                    <a class="text-primary" asp-action="ForgotPassword">Esqueci minha senha</a>
                </form>
                <form asp-controller="Account" asp-action="Register" method="post" class="sign-up-form" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed" data-ajax-failure="failed">
                    <div asp-validation-summary="ModelOnly" data-valmsg-for="ModelOnly" class="text-danger"></div>
                    <h2 class="title">Cadastro</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input asp-for="Register.Nome" id="Nome" name="Nome" />
                    </div>
                    <span asp-validation-for="Register.Nome" data-valmsg-for="Nome" class="text-danger"></span>
                    <div class="input-field">
                        <i class="fas fa-user-circle"></i>
                        <input asp-for="Register.Apelido" id="Apelido" name="Apelido" />
                    </div>
                    <span asp-validation-for="Register.Apelido" data-valmsg-for="Apelido" class="text-danger"></span>
                    <div class="input-field">
                        <i class="fas fa-calendar"></i>
                        <input asp-for="Register.DataNascimento" id="DataNascimento" name="DataNascimento" />
                    </div>
                    <span asp-validation-for="Register.DataNascimento" data-valmsg-for="DataNascimento" class="text-danger"></span>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input asp-for="Register.EmailRegister" id="EmailRegister" name="EmailRegister" />
                    </div>
                    <span asp-validation-for="Register.EmailRegister" data-valmsg-for="EmailRegister" class="text-danger"></span>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input asp-for="Register.SenhaRegister" id="SenhaRegister" name="SenhaRegister" />
                    </div>
                    <span asp-validation-for="Register.SenhaRegister" data-valmsg-for="SenhaRegister" class="text-danger"></span>
                    <input type="submit" class="btn" value="Cadastrar" />
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Não tenho uma conta ?</h3>
                    <p>
                        Se você não possui uma conta clique no botão abaixo e venha fazer parte do nosso time!
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        Cadastra-se
                    </button>
                </div>
                <img src="~/fe/LoginRegister/img/login.svg" class="image" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Já tenho uma conta ?</h3>
                    <p>
                        Se você já possui uma conta clique em Entrar para continuar de onde parou!
                    </p>
                    <button class="btn transparent" id="sign-in-btn">
                        Entrar
                    </button>
                </div>
                <img src="~/fe/LoginRegister/img/register.svg" class="image" />
            </div>
        </div>
    </div>

    <script src="~/fe/LoginRegister/js/app.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script type="text/javascript">
        const senhaLogin = document.getElementById('SenhaLogin');
        const senhaRegister = document.getElementById('SenhaRegister');
        completed = function (xhr) {
            if (xhr.responseJSON == 0) {
                swal({
                    title: "E-mail não Confirmado!",
                    text: "Sua conta ainda não está ativada, acesse seu e-mail e realize a confirmação para conseguir entrar!",
                    icon: "error",
                    button: "OK"
                }).then(function () {
                    senhaLogin.value = "";
                    senhaLogin.focus();
                });
            }
            if (xhr.responseJSON == 1) {
                swal({
                    title: "WELCOME HOME!",
                    text: "Bem vindo - Administrador!",
                    icon: "success",
                    button: "OK"
                }).then(function () {
                    window.location.href = '@Url.Action("Index", "Admin")';
                });
            }

            if (xhr.responseJSON.data == 2) {
                swal({
                    title: "WELCOME BACK!",
                    text: "Bem vindo - " + xhr.responseJSON.usuario,
                    icon: "success",
                    button: "OK"
                }).then(function () {
                    window.location.href = '@Url.Action("Index", "Home")';
                });
            }

            if (xhr.responseJSON == 3) {
                swal({
                    title: "Problemas ao Entrar!",
                    text: "Usuário Bloqueado, aguarde alguns minutos e tente novamente!",
                    icon: "error",
                    button: "OK"
                }).then(function () {
                    senhaLogin.value = "";
                    senhaLogin.focus();
                });
            }

            if (xhr.responseJSON == 4) {
                swal({
                    title: "Problemas ao Entrar!",
                    text: "E-mail de Acesso e/ou Senha Inválidos!!!",
                    icon: "error",
                    button: "OK"
                }).then(function () {
                    senhaLogin.value = "";
                    senhaLogin.focus();
                });
            }

            if (xhr.responseJSON == 5) {
                swal({
                    title: "Problemas ao Cadastrar!",
                    text: "O E-mail informado já encontra-se cadastrado em nosso sistema!",
                    icon: "error",
                    button: "OK"
                }).then(function () {
                    senhaRegister.value = "";
                });
            }

            if (xhr.responseJSON == 6) {
                window.location.href = '@Url.Action("LoginRegister", "Account")';
            }

            if (xhr.responseJSON.data == 7) {
                swal({
                    title: "Cadastro Realizado Com Sucesso!",
                    text: `Agora ${xhr.responseJSON.usuario} vá em seu E-mail de Cadastro e confirme-o para poder ativar sua conta!`,
                    icon: "success",
                    button: "OK"
                }).then(function () {
                    window.location.href = '@Url.Action("Index", "HOME")';
                });
            }

            if (xhr.responseJSON.success == false) {
                swal({
                    title: "Problemas ao Enviar!",
                    text: "Ocorreu um problema no envio de seus dados! Por favor, tente novamente em alguns instante!",
                    icon: "error",
                    button: "OK"
                });
            }
        }
        failed = function (xhr) {
            swal({
                title: "Problemas ao Enviar!",
                text: "Ocorreu um problema no envio de seus dados! Por favor, tente novamente em alguns instante!",
                icon: "warning",
                button: "OK"
            });
        }
    </script>
</body>

</html>